<div class="account-info-box fullsize panel-boxes text-right">

    <ul class="account-nav fullsize">
        <li>
            <a asp-page="/Admins/Places/Place">
                <i class='far fa-map'></i>
                جاذبه های گردشگری
            </a>
        </li>
        <li>
            <a asp-page="/Admins/Categories/Category">
                <i class='fas fa-layer-group'></i>
                دسته بندی
            </a>
        </li>
        <li>
            <a asp-page="/Admins/Countries/Country">
                <i class='fas fa-flag'></i>
                کشور ها
            </a>
        </li>
        <li>
            <a asp-page="/Admins/Cities/City">
                <i class='fas fa-map-marker-alt'></i>
                شهر ها
            </a>
        </li>
        <li>
            <a asp-page="/Admins/Comments/Comment">
                <i class='far fa-comment-alt'></i>
                نظرات
            </a>
        </li>
        <li>
            <a asp-page="/Admins/Rates/Rate">
                <i class='fas fa-star'></i>
                رای ها
            </a>
        </li>
        <li>
            <a asp-page="/Admins/TuristPlaceCategories/TuristPlaceCategory">
                <i class='fas fa-user-clock'></i>
                جاذبه و دسته بندی
            </a>
        </li>
    </ul>
</div>