<div class="account-info-box fullsize panel-boxes text-right">

    <ul class="account-nav fullsize">
        <li>
            <a asp-page="/Admins/Places/Place">
                جاذبه های گردشگری
            </a>
        </li>
        <li>
            <a asp-page="/Admins/Categories/Category">
                دسته بندی
            </a>
        </li>
        <li>
            <a asp-page="/Admins/Countries/Country">
                کشور ها
            </a>
        </li>
        <li>
            <a asp-page="/Admins/Cities/City">
                شهر ها
            </a>
        </li>
        <li>
            <a asp-page="/Admins/Comments/Comment">
                نظرات
            </a>
        </li>
        <li>
            <a asp-page="/Admins/Rates/Rate">
                رای ها
            </a>
        </li>
        <li>
            <a asp-page="/Admins/TuristPlaceCategories/TuristPlaceCategory">
                جاذبه و دسته بندی
            </a>
        </li>
    </ul>
</div>