<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Travellingfront</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/css/site.css" />*@
    <link href="~/css/Home/Home.css" rel="stylesheet" />
    <link href="~/css/fontawesome/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top" id="banner" style="background-color: rgba(0, 0, 0, 0.5);">
            <div class="container">
                <div class="row">
                    <button type="button" class="btn btn-light left-b">ثبت نام</button>
                    <button type="button" class="btn btn-outline-light">ورود</button>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">درباره ما</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                سایر کشور ها
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">ترکیه</a>
                                <a class="dropdown-item" href="#">آمریکا</a>
                                <a class="dropdown-item" href="#">انگلستان</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">ایران</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                جاذبه های گردشگری
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">پربازدیدترین ها</a>
                                <a class="dropdown-item" href="#">محبوب ترین ها</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">صفحه اصلی</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer class="bg-info text-center text-lg-start">
        <div class="container p-4">
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase text-light foot-title">هدف ما چیست ؟</h5>

                    <p class="text-light">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                        گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                        برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می
                        باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و
                        متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی
                        الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase text-light foot-title">شبکه های اجتماعی</h5>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a class="btn btn-primary social-media-buttons" style="background-color: #ac2bac" href="#" role="button">
                                <i class="fab fa-instagram"></i>&nbsp;	&nbsp;	&nbsp;	igtravelling
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-primary social-media-buttons" style="background-color: #3b5998" href="#" role="button">
                                <i class="fab fa-facebook-f"></i>&nbsp;	&nbsp;	&nbsp;	fbtravelling
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-primary social-media-buttons" style="background-color: #55acee" href="#" role="button">
                                <i class="fab fa-twitter"></i>&nbsp;	&nbsp;	&nbsp;	twtravelling
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-primary social-media-buttons" style="background-color: #25d366" href="#!" role="button">
                                <i class="fab fa-whatsapp"></i>&nbsp;	&nbsp;	&nbsp;	twtravelling
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-0 text-light">لینک های پیشنهادی</h5>

                    <ul class="list-unstyled footer-links">
                        <li>
                            <a href="#" class="text-light">پربازدیدترین مکان های گردشگری</a>
                        </li>
                        <li>
                            <a href="#" class="text-light">محبوب ترین مکان های گردشگری</a>
                        </li>
                        <li>
                            <a href="#" class="text-light">مکان های گردشگری داخلی</a>
                        </li>
                        <li>
                            <a href="#" class="text-light">مکان های گردشگری خارجی</a>
                        </li>
                        <li>
                            <a href="#" class="text-light">مقایسه مکان های گردشگری</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="text-center p-3 text-light" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2020 Copyright:
            <a class="text-light" href="https://travelling.com/">travelling.com</a>
        </div>
        <div id="mybutton">
            <button class="feedback btn btn-info">مقایسه جاذبه های گردشگری</button>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
