@page
@model Travellingfront.Pages.Admins.PlaceCategories.ShowAllModel
@{
}
<head>
    <link href="~/css/Admin/admin.css" rel="stylesheet" />
    <link href="~/css/Admin/all.css" rel="stylesheet" />
    <link href="~/css/Admin/style.css" rel="stylesheet" />

</head>
<div class="text-center">

    <div class="banner" style="background-image: url('../../adminbg.jpg');">
        <div class="container">
            <div class="banner-text">
                <div class="banner-heading">
                    مدیریت رابطه جاذبه ها و دسسته بندی ها
                </div>
            </div>
        </div>
    </div>
    <div class="body-of-admin">
        <div class="container" style="direction: rtl;">
            <div class="row">
                <div class="col-lg-3 col-md-12">
                    <div class="account-info-box fullsize panel-boxes text-right">
                        <ul class="account-nav fullsize">
                            <li>
                                <a asp-page="../Places/Place">
                                    <i class='far fa-map'></i>
                                    جاذبه های گردشگری
                                </a>
                            </li>
                            <li>
                                <a asp-page="../Categories/Category">
                                    <i class='fas fa-layer-group'></i>
                                    دسته بندی
                                </a>
                            </li>
                            <li>
                                <a asp-page="../Countries/Country">
                                    <i class='fas fa-flag'></i>
                                    کشور ها
                                </a>
                            </li>
                            <li>
                                <a asp-page="../Cities/City">
                                    <i class='fas fa-map-marker-alt'></i>
                                    شهر ها
                                </a>
                            </li>
                            <li>
                                <a href="comments.html">
                                    <i class='far fa-comment-alt'></i>
                                    نظرات
                                </a>
                            </li>
                            <li>
                                <a href="rates.html">
                                    <i class='fas fa-star'></i>
                                    رای ها
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class='fas fa-user-clock'></i>
                                    جاذبه و دسته بندی
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9 col-md-12">
                    <div class="account-infos panel-boxes fullsize text-right">
                        <div class="jazebe allinfo-heading fullsize">
                            <div>شهر ها</div>
                            <div class="jazebe-btn"><a asp-page="./Add" class="btn btn-primary">ایجاد</a></div>
                        </div>
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>شناسه</th>
                                    <th>شناسه جاذبه گردشگری</th>
                                    <th>دسته بندی</th>
                                    <th>عملیات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.PlaceCategories.Count; i++)
                                {
                                    <tr>
                                        <td>@Model.PlaceCategories[i].Id</td>
                                        <td>@Model.PlaceCategories[i].PlacrId</td>
                                        <td>@Model.PlaceCategories[i].CategoryId</td>
                                        <td>
                                            <a asp-page="./Delete" asp-route-id="@Model.PlaceCategories[i].Id" class="btn btn-danger">حذف</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>