@page
@model Travellingfront.Pages.Admins.Places.PlaceModel
@{
}
<head>
    <link href="~/css/Admin/admin.css" rel="stylesheet" />
    <link href="~/css/Admin/all.css" rel="stylesheet" />
    <link href="~/css/Admin/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="text-center">
    <div class="banner" style="background-image: url('../../adminbg.jpg');">
        <div class="container">
            <div class="banner-text">
                <div class="banner-heading">
                    مدیریت جاذبه های گردشگری
                </div>
            </div>
        </div>
    </div>

    <div class="body-of-admin">
        <div class="container" style="direction: rtl;">
            <div class="row">
                <div class="col-lg-3 col-md-12">
                    <partial name="_AdminNavbar" />
                </div>
                <div class="col-lg-9 col-md-12">
                    <div class="account-infos panel-boxes fullsize text-right">
                        <div class="jazebe allinfo-heading fullsize">
                            <div>جاذبه های گردشگری</div>
                            <div class="jazebe-btn"><a asp-page="./Add" class="btn btn-primary">ایجاد</a></div>
                        </div>
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>شناسه</th>
                                    <th>نام</th>
                                    <th>عملیات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.places.Count; i++)
                                {
                                    <tr>
                                        <td>@Model.places[i].id</td>
                                        <td>@Model.places[i].Name</td>
                                        <td>
                                            <a asp-page="./Delete" asp-route-id="@Model.places[i].id" class="btn btn-danger" >حذف</a>
                                            <a asp-page="./Update" asp-route-id="@Model.places[i].id" class="btn btn-success">ویرایش</a>
                                        </td>
                                    </tr>

                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>