@page
@model Travellingfront.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}
<head>
    <link href="~/css/Login/Login.css" rel="stylesheet" />
</head>
<div class="text-center">
    <div class="banner  ">
        <div class="container">
            <div class="banner-text">
                <div class="banner-heading">
                    ورود به حساب کاربری
                </div>
                <div class="banner-sub-heading">
                    به حساب خود وارد شوید
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form style="text-align: right;" method="post">
                    <br>
                    <div class="form-group">
                        <label for="email" asp-for="NewUserLogin.Username">نام کاربری(ایمیل)</label>
                        <input type="email" class="form-control" asp-for="NewUserLogin.Username" placeholder="xxxx@example.com" id="email" style="text-align: right;">
                        <span asp-validation-for="NewUserLogin.Username" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="pwd" asp-for="NewUserLogin.Password">رمز عبور</label>
                        <input type="password" class="form-control" asp-for="NewUserLogin.Password" placeholder="رمز عبور خود را وارد کنید" id="pwd" style="text-align: right;">
                        <span asp-validation-for="NewUserLogin.Password" class="text-danger"></span>
                    </div>
                    <br>
                    <button type="submit" class="btn" style="background-color:#17a2b8; text-align: center;">ورود</button>
                    @if (Model.State == false)
                    {
                        <p class="text-danger">@ViewBag.Error</p>
                    }
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <br>
                    <br>
                    <br>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
