@page
@model Travellingfront.Pages.AccessDenied.AccessDeniedModel
@{
}
<div class="text-center">

    <div class="banner" style="background-image: url('../../error.png')">
        <div class="container">
            <div class="banner-text">
                <div class="banner-heading">
                  
                </div>
            </div>
        </div>
    </div>
    <strong class="text-center" style="font-size:60px">ورود شما به این صفحه مجاز نیست</strong>
</div>