@page
@model Travellingfront.Pages.Users.LogOutModel
@{
}
<div class="text-center">
    <div class="banner">
        <div class="container">
            <div class="banner-text">
                <div class="banner-heading">
                   شما خارج شدید @ViewBag.error
                </div>
                <div class="banner-sub-heading">
                    خروج شما از برنامه با موفقیت انجام شد
                </div>
            </div>
        </div>
    </div>
</div>