@page
@model Travellingfront.Pages.Admins.TuristPlaceCategories.DeleteModel
@{
}
<head>
    <link href="~/css/Admin/admin.css" rel="stylesheet" />
    <link href="~/css/Admin/all.css" rel="stylesheet" />
    <link href="~/css/Admin/style.css" rel="stylesheet" />

</head>
<div class="text-center">

    <div class="banner" style="background-image:url('../../adminbg.jpg');">
        <div class="container">
            <div class="banner-text">
                <div class="banner-heading">
                    حذف 
                </div>
            </div>
        </div>
    </div>

    <div class="body-of-admin">
        <div class="container" style="direction: rtl;">
            <div class="row">
                <div class="col-lg-3 col-md-12">
                    <partial name="_AdminNavbar" />
                </div>
                <div class="col-lg-9 col-md-12">
                    @if (Model.State != true)
                    {
                        <p>@ViewBag.Error</p>
                    }

                </div>
            </div>
        </div>
    </div>
</div>